/consultation/__pycache__/*
/consultation/migrations/__pycache__/*
/patient/migrations/__pycache__/*
/Teleconsult/__pycache__/*
/Teleconsult/settings/__pycache__/*
/appointments/__pycache__/*
/patient/__pycache__/*
/appointments/migrations/__pycache__/*
/Teleconsult/settings.py
/Teleconsult/settings/local.py
/media/*
/venv/
/linux-venv/
/staticfiles/
bandit.json
bandit-clean.json
.gitignore
Teleconsult/urls.py
.env
*.log
db.sqlite3
coverage.xml
htmlcov/