{% extends 'base.html' %}
{% load static %}

{% block title %} Create Consultation {% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<style type="text/css">
	.dashboard_welcome_greeting{
		color: #6417A1;
	}
	.add_patient_btn{
		border: 1px solid;
		border-color: #6417A180;
	}
	.add_patient_btn{
		color: #6417A180;
	}
	#patient_list thead{
		background-color: #6417A180;
	}
	.patient_list_name a{
		color: #6417A180;
		font-weight: 700;
	}
	#patient_list{
		padding-top: 1rem;
	}
	#consultation_tab{
		background-color: #6417A180;
	}
	.consultation_link{
		color: black;
	}
	.consultation_link:hover {
		color: white;
	}
</style>
{% endblock style %}

{% block content %}
<nav class="navbar navbar-light bg-light justify-content-between sticky-top">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Back</button>
  	<form class="form-inline">
    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  	</form>
</nav>
<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-12">
			{% if error_msg %}
				<div class="alert alert-warning" role="alert">
				  {{ error_msg }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="card">
		<h5 class="card-header card_background_color">Patient Information</h5>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label><b>Patient Name</b></label>
								<input type="text" readonly class="form-control-plaintext" value="{{ patientDetailed.last_name }}, {{ patientDetailed.first_name }} {{ patientDetailed.middle_name }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><b>Gender</b></label>
								<input type="text" readonly class="form-control-plaintext" value="{{ patientDetailed.gender }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><b>Age</b></label>
								<input type="text" readonly class="form-control-plaintext" value="{{ patientDetailed.age }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label><b>Marital Status</b></label>
								<input type="text" readonly class="form-control-plaintext" value="{{ patientDetailed.marital_status }}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label><b>Date of Consultations (mm/dd/yyyy)*</b></label>
								<input type="text" class="form-control" id="consultation_date" name="consultation_date" value="" placeholder="consultation date">
							</div>
							<div class="form-group">
								<label><b>Reason for Interaction*</b></label>
								<select id="reason_for_interaction" name="reason_for_interaction" class="form-control">
									<option value="1">Outpatient - Checkup</option>
									<option value="1">Outpatient - Followup</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="card">
		<h5 class="card-header card_background_color">Vital Signs</h5>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Height(cm)</label>
						<input type="text" class="form-control" id="vital_height" name="vital_height" value="" placeholder="height">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Weight(kg)</label>
						<input type="text" class="form-control" id="vital_weight" name="vital_weight" value="" placeholder="Weight">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Blood Pressure(kg)</label>
						<input type="text" class="form-control" id="vital_blood_pressure" name="vital_blood_pressure" value="" placeholder="Blood Pressure">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Temperature(C)</label>
						<input type="text" class="form-control" id="vital_temperature" name="vital_temperature" value="" placeholder="Temperature">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12">
			<ul class="nav nav-tabs" id="consultation_tab" role="tablist">
				<li class="nav-item" role="presentation">
    				<button class="nav-link active consultation_link" id="chief_complaints-tab" data-bs-toggle="tab" data-bs-target="#chief_complaints" type="button" role="tab" aria-controls="chief_complaints" aria-selected="false">Chief Complaints</button>
  				</li>
  				<li class="nav-item" role="presentation">
    				<button class="nav-link consultation_link" id="HOPI-tab" data-bs-toggle="tab" data-bs-target="#HOPI" type="button" role="tab" aria-controls="HOPI" aria-selected="true">History of Present Illness</button>
  				</li>
  				
  				<li class="nav-item" role="presentation">
    				<button class="nav-link consultation_link" id="MentalStatus-tab" data-bs-toggle="tab" data-bs-target="#MentalStatus" type="button" role="tab" aria-controls="MentalStatus" aria-selected="false">Mental Status</button>
  				</li>
  				<li class="nav-item" role="presentation">
    				<button class="nav-link consultation_link" id="Diagnosis-tab" data-bs-toggle="tab" data-bs-target="#Diagnosis" type="button" role="tab" aria-controls="Diagnosis" aria-selected="false">Diagnosis</button>
  				</li>
  				<li class="nav-item" role="presentation">
    				<button class="nav-link consultation_link" id="Treatment-tab" data-bs-toggle="tab" data-bs-target="#Treatment" type="button" role="tab" aria-controls="Treatment" aria-selected="false">Treatment</button>
  				</li>
  				<li class="nav-item" role="presentation">
    				<button class="nav-link consultation_link" id="Notes-tab" data-bs-toggle="tab" data-bs-target="#Notes" type="button" role="tab" aria-controls="Notes" aria-selected="false">Notes</button>
  				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="chief_complaints" role="tabpanel" aria-labelledby="chief_complaints-tab">
					<br/>
					<div class="row justify-content-md-center">
						<div class="col-sm-10">
							<div class="form-group">
								<label>Patient</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="form-group">
								<label>Informant</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="form-group">
								<label>Informant Relationship</label>
								<select class="form-control">
										<option value="0">- - Select relationship - -</option>
    									<option value="Mother" {% if relative_details.relationship == "Mother" %} selected  {% endif %}>Mother</option>
    									<option value="Father" {% if relative_details.relationship == "Father" %} selected  {% endif %}>Father</option>
    									<option value="Son" {% if relative_details.relationship == "Son" %} selected  {% endif %}>Son</option>
    									<option value="Daughter" {% if relative_details.relationship == "Daughter" %} selected  {% endif %}>Daughter</option>
    									<option value="Brother" {% if relative_details.relationship == "Brother" %} selected  {% endif %}>Brother</option>
    									<option value="Niece or nephew" {% if relative_details.relationship == "Niece or nephew" %} selected  {% endif %}>Niece or nephew</option>
    									<option value="Aunt" {% if relative_details.relationship == "Aunt" %} selected  {% endif %}>Aunt</option>
    									<option value="Uncle" {% if relative_details.relationship == "Uncle" %} selected  {% endif %}>Uncle</option>
    									<option value="Sister" {% if relative_details.relationship == "Sister" %} selected  {% endif %}>Sister</option>
    									<option value="Spouse" {% if relative_details.relationship == "Spouse" %} selected  {% endif %}>Spouse</option>
    									<option value="Son-in-law" {% if relative_details.relationship == "Son-in-law" %} selected  {% endif %}>Son-in-law</option>
    									<option value="Daughter-in-law" {% if relative_details.relationship == "Daughter-in-law" %} selected  {% endif %}>Daughter-in-law</option>
    									<option value="Second Cousin" {% if relative_details.relationship == "Second Cousin" %} selected  {% endif %}>Second Cousin</option>
    									<option value="Third Cousin" {% if relative_details.relationship == "Third Cousin" %} selected  {% endif %}>Third Cousin</option>
    									<option value="Wife" {% if relative_details.relationship == "Wife" %} selected  {% endif %}>Wife</option>
    									<option value="Husband" {% if relative_details.relationship == "Husband" %} selected  {% endif %}>Husband</option>
								</select>
							</div>
						</div>
					</div>
				</div>

  				<div class="tab-pane fade" id="HOPI" role="tabpanel" aria-labelledby="HOPI-tab">
  					<br/>
  					<div class="row justify-content-md-center">
  						<div class="col-sm-2">Number of</div>
  						<div class="col-sm-2">Min/Hr/Days/Month/Year*</div>
  						<div class="col-sm-6">Details*</div>
  						<div class="col-sm-2"></div>
  					</div>
  					<hr>
  					<form class="HOPI-form">
  						<div class="row">
	  						<div class="col-sm-2">
	  							<input type="text" class="form-control" id="HOPI_NUM[]" name="HOPI_NUM[]" placeholder="Number">
	  						</div>
	  						<div class="col-sm-2">
	  							<input type="text" class="form-control" id="HOPI_TIME[]" name="HOPI_TIME[]" placeholder="Min/Hr/Days/Month/Year">
	  						</div>
	  						<div class="col-sm-7">
	  							<textarea class="form-control" id="HOPI_DETAILS[]" name="HOPI_DETAILS[]" rows="1"></textarea>
	  						</div>
	  						<div class="col-sm-1">
	  							<button type="button" class="btn btn-outline-danger form-control">Remove</button>
	  						</div>
	  					</div>
  					</form>
  					<br/>
  					<div class="row justify-content-md-center">
  						<div class="col-sm-6">
  							<button type="button" class="btn btn-outline-info form-control">Add More</button>
  						</div>
  					</div>
  				</div>
  				
  				<div class="tab-pane fade" id="MentalStatus" role="tabpanel" aria-labelledby="MentalStatus-tab">
  					<br/>
  					<div class="row">
  						<div class="col-sm-12"><h3><b>General Description</b></h3></div>
  						<hr>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Dress Grooming</label>
								<select class="form-control">
										<option value="0">- - Select Grooming - -</option>
    									{% if grooming_list %}
    										{% for grooming in grooming_list %}
    											<option value="{{ grooming.pk }}">{{ grooming.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Physical characteristics</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Posture and gait</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Attitude</label>
								<select class="form-control">
										<option value="0">- - Attitude - -</option>
    									{% if attitude_list %}
    										{% for attitude in attitude_list %}
    											<option value="{{ attitude.pk }}">{{ attitude.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Facial Expression</label>
								<select class="form-control">
										<option value="0">- - Facial Expression - -</option>
    									{% if facialexpression_list %}
    										{% for facialexpression in facialexpression_list %}
    											<option value="{{ facialexpression.pk }}">{{ facialexpression.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Motor Active</label>
								<select class="form-control">
										<option value="0">- - Motor Active - -</option>
    									{% if motoactive_list %}
    										{% for motoactive in motoactive_list %}
    											<option value="{{ motoactive.pk }}">{{ motoactive.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Movement</label>
								<select class="form-control">
										<option value="0">- - Movement - -</option>
    									{% if movement_list %}
    										{% for movement in movement_list %}
    											<option value="{{ movement.pk }}">{{ movement.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-12">
  							<div class="form-group">
								<label>Behavior Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Speech</label>
								<select class="form-control">
										<option value="0">- - Speech - -</option>
    									{% if speech_list %}
    										{% for speech in speech_list %}
    											<option value="{{ speech.pk }}">{{ speech.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-3">
  							<div class="form-group">
								<label>Aphasia</label>
								<select class="form-control">
										<option value="0">- - Aphasia - -</option>
    									{% if aphasia_list %}
    										{% for aphasia in aphasia_list %}
    											<option value="{{ aphasia.pk }}">{{ aphasia.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-6">
  							<div class="form-group">
								<label>Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div>  <!-- General Description -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>Emotions</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Mood</label>
								<select class="form-control">
										<option value="0">- - Mood - -</option>
    									{% if mood_list %}
    										{% for mood in mood_list %}
    											<option value="{{ mood.pk }}">{{ mood.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Affect</label>
								<select class="form-control">
										<option value="0">- - Affect - -</option>
    									{% if affect_list %}
    										{% for affect in affect_list %}
    											<option value="{{ affect.pk }}">{{ affect.name }}</option>
    										{% endfor %}
    									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Sign of Depression</label>
								<select class="form-control">
									<option value="0">- - Sign of Depression - -</option>
									{% if insomnia_list %}
										{% for insomnia in insomnia_list %}
											<option value="{{ insomnia.pk }}">{{ insomnia.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-12">
  							<div class="form-group">
								<label>Emotion Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div>	<!-- emotional end -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>Cognitive Function</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Consciousness</label>
								<select class="form-control">
									<option value="0">- - Affect - -</option>
									{% if orientation_list %}
										{% for orientation in orientation_list %}
											<option value="{{ orientation.pk }}">{{ orientation.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Memory</label>
								<select class="form-control">
									<option value="0">- - Memory - -</option>
									{% if memory_list %}
										{% for memory in memory_list %}
											<option value="{{ memory.pk }}">{{ memory.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-2">
  							<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  								<label class="form-check-label" for="defaultCheck1">Is able to pay attention</label>
							</div>
							<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  								<label class="form-check-label" for="defaultCheck2">Is able to concentrate</label>
							</div>
  						</div>
  						<div class="col-sm-6">
  							<div class="form-group">
								<label>Memory Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  						<div class="col-sm-6">
  							<div class="form-group">
								<label>Abstractability Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div> <!-- cognitive functions -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>Thought and Perception</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Disordered Perceptions</label>
								<select class="form-control">
									<option value="0">- - Disordered Perceptions - -</option>
									{% if disorderedperception_list %}
										{% for disorderedperception in disorderedperception_list %}
											<option value="{{ disorderedperception.pk }}">{{ disorderedperception.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Thought Content</label>
								<select class="form-control">
									<option value="0">- - Thought Content - -</option>
									{% if thoughtcontent_list %}
										{% for thoughtcontent in thoughtcontent_list %}
											<option value="{{ thoughtcontent.pk }}">{{ thoughtcontent.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Delusion Content</label>
								<select class="form-control">
									<option value="0">- - Delusion Content - -</option>
									{% if delusioncontent_list %}
										{% for delusioncontent in delusioncontent_list %}
											<option value="{{ delusioncontent.pk }}">{{ delusioncontent.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Thought Form</label>
								<select class="form-control">
									<option value="0">- - Thought Form - -</option>
									{% if thoughtform_list %}
										{% for thoughtform in thoughtform_list %}
											<option value="{{ thoughtform.pk }}">{{ thoughtform.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  						<div class="col-sm-4">
  							<div class="form-group">
								<label>Preoccupations</label>
								<select class="form-control">
									<option value="0">- - Preoccupations - -</option>
									{% if preoccupation_list %}
										{% for preoccupation in preoccupation_list %}
											<option value="{{ preoccupation.pk }}">{{ preoccupation.name }}</option>
										{% endfor %}
									{% endif %}
								</select>
							</div>
  						</div>
  					</div><!-- Thought and Perception -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>Suicidality, Homocidality and Impulse Control</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-1">
  							<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">Is patient suicidal?</label>
							</div>
  						</div>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Suicidality homicidality Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  						<div class="col-sm-1">
  							<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">Is patient homicidal?</label>
							</div>
  						</div>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Impulse Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div><!-- Suicidality, Homocidality and Impulse Control -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>Reliability</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-6">
  							<div class="form-group">
								<label>Reliability</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  						<div class="col-sm-6">
  							<div class="form-group">
								<label>Reliability Impression</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div><!-- Reliability -->

  					<div class="row">
  						<div class="col-sm-12"><h3><b>The Environment</b></h3></div><br/>
  						<hr>
  						<div class="col-sm-2">
  							  <div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">Is surroundings inappropriate?</label>
							</div>
  						</div>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Environment</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  						<div class="col-sm-5">
  							<div class="form-group">
								<label>Remarks</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
  						</div>
  					</div><!-- The Environment -->
  					<br/>
  				</div>

  				<div class="tab-pane fade" id="Diagnosis" role="tabpanel" aria-labelledby="Diagnosis-tab">
  					<br/>
  					<div class="row justify-content-md-center">
  						<div class="col-sm-2">Condition</div>
  						<div class="col-sm-6">Details</div>
  						<div class="col-sm-2"></div>
  					</div>
  					<hr>
  					<form class="HOPI-form">
  						<div class="row">
	  						<div class="col-sm-2">
	  							<select class="form-control" name="condition[]">
	  								<option>- - condition - -</option>
	  								{% if condition_list %}
	  									{% for condition in condition_list %}
	  										<option value="{{ condition.pk }}">{{ condition.name }}</option>
	  									{% endfor %}
	  								{% endif %}
	  							</select>
	  						</div>
	  						<div class="col-sm-9">
	  							<textarea class="form-control" name="condition_detail[]" rows="1"></textarea>
	  						</div>
	  						<div class="col-sm-1">
	  							<button type="button" class="btn btn-outline-danger form-control">Remove</button>
	  						</div>
	  					</div>
  					</form>
  					<br/>
  					<div class="row justify-content-md-center">
  						<div class="col-sm-6">
  							<button type="button" class="btn btn-outline-info form-control">Add More</button>
  						</div>
  					</div>
  				</div>

  				<div class="tab-pane fade" id="Treatment" role="tabpanel" aria-labelledby="Treatment-tab">
  					<br/>
  					<div class="row">
  						<div class="col-sm-5">
  							<div class="row">
  								<div class="col-sm-12">
  									<div class="form-group">
										<label>Drug*</label>
										<select class="form-control">
												<option value="0">- - Drug- -</option>
										</select>
									</div>
  								</div>
  								<div class="col-sm-6">
  									<div class="form-group">
										<label>Presentation/Strength</label>
										<input type="text" class="form-control" name="" placeholder="Strength">
									</div>
  								</div>
  								<div class="col-sm-6">
  									<div class="form-group">
										<label>Dose</label>
										<input type="text" class="form-control" name="" placeholder="Dose">
									</div>
  								</div>
  								<div class="col-sm-4">
  									<div class="form-group">
										<label>Route</label>
										<input type="text" class="form-control" name="" placeholder="Route">
									</div>
  								</div>
  								<div class="col-sm-4">
  									<div class="form-group">
										<label>Frequency</label>
										<input type="text" class="form-control" name="" placeholder="Frequency">
									</div>
  								</div>
  								<div class="col-sm-4">
  									<div class="form-group">
										<label>No of drugs</label>
										<input type="text" class="form-control" name="" placeholder="Frequency">
									</div>
  								</div>
  							</div>
  							<br/>
  							<div class="row">
  								<div class="col-sm-12">
  									<button type="button" class="btn btn-outline-info form-control">Add Treatment</button>
  								</div>
  							</div>
  						</div>
  						<div class="col-sm-7">
  							<table class="table">
  								<thead>
  									<tr>
								    	<th scope="col">Drug</th>
								    	<th scope="col">Presentation/Strength</th>
								    	<th scope="col">Dose</th>
								    	<th scope="col">Frequency</th>
								    	<th scope="col">No of drugs</th>
								    	<th scope="col"></th>
								    </tr>
  								</thead>
  								<tbody>
  									<tr>
  										<td>Paracetamol</td>
  										<td>25mg</td>
  										<td></td>
  										<td>3x a day</td>
  										<td>15pcs</td>
  										<td><button type="button" class="btn btn-outline-danger">Remove</button></td>
  									</tr>
  								</tbody>
  							</table>
  						</div>	
  					</div>
  				</div>

  				<div class="tab-pane fade" id="Notes" role="tabpanel" aria-labelledby="Notes-tab">
  					<div class="row justify-content-md-center">
  						<div class="col-sm-10">
							<div class="form-group">
								<label>Treatment Recommendations</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
  					</div>
  					<div class="row justify-content-md-center">
  						<div class="col-sm-10">
							<div class="form-group">
								<label>Notes</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
  					</div>
  					
  				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#consultation_date").datepicker({format:'mm/dd/yyyy'}).datepicker("setDate",'now');
	})
	
</script>
{% endblock script %}
