{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} {% endblock title %}</title>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	{% block style %}

	{% endblock style %}
</head>
<body style="background-color: #fbfafa;">
	<main>
		<div class="b-example-divider"></div>
		<div class="d-flex flex-column flex-shrink-0 admin_base_sidebar_wrapper" style="border-right: 1px solid #c9c9c9;">
    		<a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right" style="margin:0 auto;">
      			<img id="admin_base_logo" src="{% static 'images/logo.png' %}" width="60px">
      			<span class="visually-hidden">Icon-only</span>
    		</a>
    		<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      			<li class="nav-item base_navbar">
      				<a href="{% url 'dashboard' %}">
      					{% if sidebar == 'dashboard' %}
      						<div class="card nav-card-active">
		  						<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_home_active.png' %}"><br/>
		  							Dashboard 
		  						</div>
							</div>
      					{% else %}
      						<div class="card nav-card">
		  						<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_home.png' %}"><br/>
		  							Dashboard 
		  						</div>
							</div>
      					{% endif %}
        			</a>
      			</li>
      			<li class="nav-item base_navbar">
      				<a href="{% url 'PatientLists' %}">
      				{% if sidebar == 'patient' %}
	      				<div class="card nav-card-active">
	  						<div class="card-body sidebar-card-body">
	  							<img class="nav-item_images" src="{% static 'images/sidebar_clients.png' %}"><br/>
	  							Patients
	  						</div>
						</div>
      				{% else %}
	      				<div class="card nav-card">
	  						<div class="card-body sidebar-card-body">
	  							<img class="nav-item_images" src="{% static 'images/sidebar_clients.png' %}"><br/>
	  							Patients
	  						</div>
						</div>
      				{% endif %}
      				</a>
        			
      			</li>
      			<!-- <li class="nav-item base_navbar">
	        		<a href="#">
	        			{% if request.path == '/portal/admin/tasks_list' or request.path == '/portal/admin/tasks' or sidebar == "task" %}
	        				<div class="card nav-card-active">
	        					<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_task_active.png' %}"><br/>
		  							Consultation
		  						</div>
							</div>
	        			{% else %}
	        				<div class="card nav-card">
	        					<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_tasks.png' %}"><br/>
		  							Consultation
		  						</div>
							</div>
	        			{% endif %}
        			</a>
      			</li> -->
      			
      			<li class="nav-item base_navbar">
        			<a href="#">
        				{% if sidebar == "services" %}
        					<div class="card  nav-card-active">
		  						<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_services_active.png' %}"><br/>
		  							Appointment
		  						</div>
							</div>
        				{% else %}
        					<div class="card nav-card">
		  						<div class="card-body sidebar-card-body">
		  							<img class="nav-item_images" src="{% static 'images/sidebar_services.png' %}"><br/>
		  							Appointment
		  						</div>
							</div>
        				{% endif %}
	      				
        			</a>
      			</li>
      			<li class="nav-item base_navbar">
        			<a href="#">
	      				<div class="card nav-card">
	  						<div class="card-body sidebar-card-body">
	  							<img class="nav-item_images" src="{% static 'images/sidebar_reports.png' %}"><br/>
	  							Reports
	  						</div>
						</div>
        			</a>
      			</li>
      			<li class="nav-item base_navbar">
        			<a href="#">
	      				<div class="card nav-card">
	  						<div class="card-body sidebar-card-body">
	  							<img class="nav-item_images" src="{% static 'images/sidebar_settings.png' %}"><br/>
	  							Account
	  						</div>
						</div>
        			</a>
      			</li>
    		</ul>
    		<!-- <div class="dropdown border-top">
      			<a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        			<img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      			</a>
      			<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        			<li><a class="dropdown-item" href="#">New project...</a></li>
        			<li><a class="dropdown-item" href="#">Settings</a></li>
        			<li><a class="dropdown-item" href="#">Profile</a></li>
        			<li><hr class="dropdown-divider"></li>
        			<li><a class="dropdown-item" href="#">Sign out</a></li>
      			</ul>
    		</div> -->
  		</div>
  		<div class="container-fluid" style="overflow-y: auto;">
  			<!-- <nav class="navbar navbar-light">
  				<div class="container-fluid">
    				<a class="navbar-brand"></a>
    				<form class="d-flex">
                    	<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle header_profile_pic"> <span class="user_header_names" style="color: #6417A1;">{{userDetails.first_name}} {{userDetails.last_name}}</span>
    				</form>
  				</div>
			</nav> -->
			{% block content %}

			{% endblock %}
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script type="text/javascript">
		/* global bootstrap: false */
		(function () {
  			'use strict'
  			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  			tooltipTriggerList.forEach(function (tooltipTriggerEl) {
    			new bootstrap.Tooltip(tooltipTriggerEl)
 	 		})
		})()
	</script>
	{% block script %}

	{% endblock script %}
</body> 
</html>