{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block style %}
<style type="text/css">
    .dashboard_welcome_greeting{
        color: #6417A1;
    }
    .card-header{
        text-align: center;
        background-color: #6417A180;
        color: white;
    }
    .card-title{
        text-align:center; 
        font-size: 2rem;
    }
    .view_more{
        text-align:center;
        text-decoration:none;
        color: #5967F2;
        font-weight: 500;
    }
    .card-body{
        text-align: center;
    }
    .dashboard_btn{
        border: 1px solid;
        border-color: #6417A180;
    }
    .dashboard_btn_text{
        color: #6417A180;
    }

    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

</style>
{% endblock style %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="form-container">
                <form action="/change-password/" method="POST">
                    <h2 class="text-center mb-4">Change Password</h2>
                    {% csrf_token %}
                    <input type="hidden" id="username" name="username" value="{{ user.username }}">
                    <div class="form-group">
                        <label for="old_password">Old Password:</label>
                        <input type="password" id="old_password" name="old_password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block script %}

{% endblock script %}