{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block style %}
<style type="text/css">
	.dashboard_welcome_greeting{
		color: #6417A1;
	}
	.card-header{
		text-align: center;
		background-color: #6417A180;
		color: white;
	}
	.card-title{
		text-align:center; 
		font-size: 2rem;
	}
	.view_more{
		text-align:center;
		text-decoration:none;
		color: #5967F2;
		font-weight: 500;
	}
	.card-body{
		text-align: center;
	}
	.dashboard_btn{
		border: 1px solid;
		border-color: #6417A180;
	}
	.dashboard_btn_text{
		color: #6417A180;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h4 class="dashboard_welcome_greeting">Welcome, {{ userDetails.first_name }}</h4>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-header">
		    				Patients
		  				</div>
		  				<div class="card-body">
		    				<h5 class="card-title">{{ number_of_patients }}</h5>
		    				<p class="card-text"></p>
		    				<a href="{% url 'PatientLists' %}" class="view_more" >View more</a>
		  				</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-header">
		    				Consultations
		  				</div>
		  				<div class="card-body">
		    				<h5 class="card-title">{{ number_of_consultations }}</h5>
		    				<p class="card-text"></p>
		    				<a href="{% url 'AppointmentList' %}" class="view_more">View More</a>
		  				</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-header">
		    				Upcomming Appointment
		  				</div>
		  				<div class="card-body">
		    				<h5 class="card-title">12</h5>
		    				<p class="card-text"></p>
		    				<a href="#" class="view_more">View More</a>
		  				</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<hr>
	<h5 style="color: #6417A1;">Today Consultations</h5>
	<br/>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<table class="table table-hover">
			  	<thead style="background-color: #6417A180;">
			    	<tr>
			      		<th scope="col">#</th>
			      		<th scope="col">Name</th>
			      		<th scope="col">Consultation Type</th>
			      		<th scope="col">Status</th>
			    	</tr>
			  	</thead>
				<tbody>
					{% for consultation in today_consultation %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								{% if group_type == "Doctor" or group_type == "Nurse" %}
									<a href="{% url 'EditConsultation' consultation.pk %}" style="text-decoration:none; color:#6417A1; font-weight: 700;">
    							{% else %}
    								<a href="{% url 'PatientDetailed' consultation.details.pk %}" style="text-decoration:none; color:#6417A1; font-weight: 700;">
    							{% endif %}
								
								{{ consultation.details.last_name|capfirst }}, {{ consultation.details.first_name|capfirst }} {{ consultation.details.middle_name|capfirst }}
								</a>
							</td>
							<td>{{ consultation.reason_for_interaction }} - Checkup</td>
							<td>
								{% if consultation.consulted_by == None %}  
									Pending <i class="fa-solid fa-hourglass-half" style="color:gray;"></i>
								{% else %} 
									Done <i class="fa-solid fa-circle-check" style="color:green;"></i>
								{% endif%}
							</td>
						</tr>
					{% empty %}
						<tr>
							<td colspan="4">No consultation for today. . .</td>
						</tr>
					{% endfor %}
	  			</tbody>
			</table>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% endblock content %}


{% block script %}

{% endblock script %}
