{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
 
{% block style %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<style type="text/css">
    .dashboard_welcome_greeting{
        color: #6417A1;
    }
    .card-header{
        text-align: center;
        background-color: #6417A180;
        color: white;
    }
    .card-title{
        text-align:center; 
        font-size: 2rem;
    }
    .view_more{
        text-align:center;
        text-decoration:none;
        color: #5967F2;
        font-weight: 500;
    }
    .card-body{
        text-align: center;
    }
    .dashboard_btn{
        border: 1px solid;
        border-color: #6417A180;
    }
    .dashboard_btn_text{
        color: #6417A180;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    canvas {
        margin-top: 0;
        width: 90%;
        max-width: 600px;
        max-height: 600px;
    }
    .report-section {
        display: none;
        margin-top: 20px;
    }
    #file_uploads_length{
        color: black;
    }
    #file_uploads_filter{
        color: black;
    }
    #file_uploads_info{
        color: black;
    }
    #file_uploads_paginate{
        color: black;
    }
</style>
{% endblock style %}
{% block content %}
<br/><br/><br/>
<h1>Report</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'reports' %}">File Uploads</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reportCharts' %}">Report Charts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reportTables' %}">Report Tables</a>
    </li>
</ul>
<div class="row justify-content-md-center">
    <div class="col-8">
        <br/><br/>
        <table class="table" id="file_uploads" style="color:black;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Upload Date</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                {% for file in list_of_files %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ file.file_name }}</td>
                        <td>{{ file.create_date|date:"M d, Y" }}</td>
                        <td><a target="_blank" href="{% url 'download_file' file.pk %}">Download</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No files available. . . </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
   
</div>


 
 
    
    
    

{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        let table = new DataTable('#file_uploads');
    });
    
    function showReport() {
        var selectedReport = document.getElementById('reportDropdown').value;
        var reports = document.getElementsByClassName('report-section');
        for (var i = 0; i < reports.length; i++) {
            reports[i].style.display = 'none';
        }
        if (selectedReport) {
            document.getElementById(selectedReport).style.display = 'block';
        }
    }
    const ctx = document.getElementById('genderChart').getContext('2d');
    const genderChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [{{ male_count }}, {{ female_count }}],  // Django context variables
                backgroundColor: ['#36A2EB', '#FF6384'],
                hoverBackgroundColor: ['#2980B9', '#C0392B']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                },
                tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                let value = tooltipItem.raw;
                                let total = genderChart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                                let percentage = ((value / total) * 100).toFixed(2) + '%';
                                return tooltipItem.label + ': ' + percentage;
                            }
                        }
                    }
            }
        }
    });
   
</script>
{% endblock script %}