{% extends 'base.html' %}
{% load static %}
{% block title %} HAMILTON DEPRESSION {% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<style type="text/css">
	.dashboard_welcome_greeting{
		color: #6417A1;
	}
	.add_patient_btn{
		color: #6417A180;
		border-color: #6417A180;
	}
	.card-header{
		background-color:#6417A180;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			{% if error_msg %}
				<div class="alert alert-warning" role="alert">
				  {{ error_msg }}
				</div>
			{% endif %}
			<form id="patient_create_gps" method="POST" enctype="multipart/form-data">
				{% csrf_token %}	
				<div class="card">
  					<div class="card-header">
    					<h4>HAMILTON DEPRESSION RATING SCALE (HAM-D)</h4>
  					</div>
  					<div class="card-body">
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="form-group">
    								<label for="plain_gender">Sex</label>
    								<input type="text" readonly class="form-control-plaintext" id="plain_gender" placeholder="{{ patientDetail.gender}}">
  								</div>	
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								<label for="plain_age">Age</label>
    								<input type="text" readonly class="form-control-plaintext" id="plain_age" placeholder="{{ patientDetail.age }}">
  								</div>	
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								<label for="cosnultation_date">Consultation Date(mm/dd/yyyy)</label>
    								<input type="text" class="form-control" id="cosnultation_date" name="consultation_date" placeholder="(mm/dd/yyy)">
  								</div>	
    						</div>
    					</div>
    					<hr>
    					<div class="row justify-content-md-center">
    						<div class="col-sm-11">
    							<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">1. DEPRESSED MOOD <br/>(Gloomy attitude, pessimism about the future, feeling of sadness, tendency to weep)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_1" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_1" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Sadness, etc.</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_1" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Occasional weeping</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_1" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Frequent weeping</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_1" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Extreme symptoms</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">2. FEELINGS OF GUILT</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_2" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_2" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Self-reproach, feels he/she has let people down</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_2" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Ideas of guilt</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_2" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1"> Present illness is a punishment; delusions of guilt</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_2" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Hallucinations of guilt</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">3. SUICIDE</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_3" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_3" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Feels life is not worth living</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_3" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Wishes he/she were dead</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_3" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Suicidal ideas or gestures</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_3" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1"> Attempts at suicide</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">4. INSOMNIA - Initial<br/>(Difficulty in falling asleep)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_4" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_4" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Occasional</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_4" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Frequent</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">5. INSOMNIA - Middle<br/>(Difficulty in falling asleep)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_5" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_5" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Occasional</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_5" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Frequent</label>
										</div>
										
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">6. INSOMNIA - Delayed<br/>(Waking in early hours of the morning and unable to fall asleep again)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_6" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_6" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Occasional</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_6" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Frequent</label>
										</div>
										
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">7. WORK AND INTERESTS</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_7" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">No difficulty</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_7" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Feelings of incapacity, listlessness, indecision and vacillation</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_7" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Loss of interest in hobbies, decreased social activities</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_7" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Productivity decreased</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_7" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Unable to work. Stopped working because of present illness only. (Absence from work after treatment or recovery may rate a lower score)</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">8. RETARDATION - Delayed<br/>(Slowness of thought, speech, and activity; apathy; stupor.)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_8" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_8" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Slight retardation at interview</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_8" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Obvious retardation at interview</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_8" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Interview difficult</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_8" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Complete stupor</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">9. AGITATION - Delayed<br/>(Restlessness associated with anxiety.)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_9" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_9" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Occasional</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_9" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Frequent</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">10. ANXIETY - PSYCHIC</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_10" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">No difficulty</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_10" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Tension and irritability</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_10" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Worrying about minor matters</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_10" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Apprehensive attitude</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_10" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Fears</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">11. ANXIETY - SOMATIC <br/> Gastrointestinal, indigestion Cardiovascular, palpitation, Headaches Respiratory, Genito-urinary, etc.</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_11" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_11" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_11" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Moderate</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_11" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_11" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Incapacitating</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">12. SOMATIC SYMPTOMS -GASTROINTESTINAL<br/>(Loss of appetite , heavy feeling in abdomen; constipation)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_12" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_12" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_12" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
										
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">13. SOMATIC SYMPTOMS - GENERAL<br/>(Heaviness in limbs, back or head; diffuse backache; loss of energy and fatiguability)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_13" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_13" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_13" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
										
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">14. GENITAL SYMPTOMS<br/>(Loss of libido, menstrual disturbances)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_14" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_14" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_14" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
										
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">15. HYPOCHONDRIASIS</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_15" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Not present</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_15" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Self-absorption (bodily)</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_15" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Preoccupation with health</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_15" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Querulous attitude</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_15" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Hypochondriacal delusions</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">16. WEIGHT LOSS</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_16" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">No weight loss</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_16" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Slight</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_16" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Obvious or severe</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">17. INSIGHT <br/>(Insight must be interpreted in terms of patient’s understanding and background.)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_17" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">No loss</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_17" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Partial or doubtfull loss</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_17" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1"> Loss of insight</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<!-- fix this soon -->
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">18. DIURNAL VARIATION <br/>(Symptoms worse in morning or evening. Note which it is.)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_18" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">No variation</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_18" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild variation;</label>
										</div>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  											<label class="form-check-label" for="inlineCheckbox1">AM</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  											<label class="form-check-label" for="inlineCheckbox1">PM</label>
										</div>
										<div class="form-check">
  											<input class="form-check-input" type="radio" name="question_18" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Severe variation;</label>
										</div>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  											<label class="form-check-label" for="inlineCheckbox1">AM</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  											<label class="form-check-label" for="inlineCheckbox1">PM</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">19. DEPERSONALIZATION AND DEREALIZATION <br/>(feelings of unreality, nihilistic ideas)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_19" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_19" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_19" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Moderate</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_19" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_19" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Incapacitating</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">20. PARANOID SYMPTOMS <br/>(Not with a depressive quality)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_20" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">None</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_20" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Suspicious</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_20" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Ideas of reference</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_20" id="inlineRadio1" value="3">
  											<label class="form-check-label" for="inlineRadio1">Delusions of reference and persecution</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_20" id="inlineRadio1" value="4">
  											<label class="form-check-label" for="inlineRadio1">Hallucinations, persecutory</label>
										</div>
    								</div>
  								</div>
  								<br/>
  								<div class="form-group row">
    								<label for="staticEmail" class="col-sm-3 col-form-label">21. OBSESSIONAL SYMPTOMS <br/>(Obsessive thoughts and compulsions against which the patient struggles)</label>
    								<div class="col-sm-9" style="padding: 0.4rem">
      									<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_21" id="inlineRadio1" value="0">
  											<label class="form-check-label" for="inlineRadio1">Absent</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_21" id="inlineRadio1" value="1">
  											<label class="form-check-label" for="inlineRadio1">Mild</label>
										</div>
										<div class="form-check form-check-inline">
  											<input class="form-check-input" type="radio" name="question_21" id="inlineRadio1" value="2">
  											<label class="form-check-label" for="inlineRadio1">Severe</label>
										</div>
    								</div>
  								</div>
    						</div>
    					</div>
    				</div>
				</div>
				<br/>
				<div class="row justify-content-md-center">
				    <div class="col-md-auto">
				      <button type="submit" class="btn btn-outline-success">Save</button>
				      {% if patientDetailed %}
				      	<a href="{% url 'PatientDetailed' patientDetailed.pk %}" style="text-decoration:none;">
				      {% else %}
				      	<a href="{{request.META.HTTP_REFERER}}" style="text-decoration:none;">
				      {% endif %}
				      <button type="button" class="btn btn-outline-secondary">Cancel</button>
				      </a>
				    </div>
  				</div>
				<br/><br/>
			</form>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>

<form id="list_of_medicine" style="display:none;">
	{% for med in medicine %}
		<input type="hidden" name="{{ med.name }}" value="{{ med.name }}">
	{% endfor%}
</form>
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery-3.6.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var availableTags = [];
		var medicine_array = $("#list_of_medicine").serializeArray();
		$.each(medicine_array, function(index, value){
			availableTags.push(value.name);
		})
		$( "#medicine_name" ).autocomplete({
      		source: availableTags
    	});
	})
</script>
{% endblock script %}
