{% extends 'base.html' %}
{% load static %}
{% block title %} Patient List {% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style type="text/css">
	.dashboard_welcome_greeting{
		color: #6417A1;
	}
	.card-header{
		background-color:#6417A180;
	}
	
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="dashboard_welcome_greeting">Patient Edit</h2>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<form id="Create_patient" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card">
  					<div class="card-header">
    					<h4>Personal Information</h4>
  					</div>
  					<div class="card-body">
  						<div class="row">
  							<div class="col-sm-12">
  								{% if patientDetailed.profile_picture|length > 0 %}
                        			<img src="{{ patientDetailed.profile_picture.url|default_if_none:'#' }}" class="object-scale-down w-60 h-60 xl:w-40 xl:h-44 xl_4k:w-85 xl_4k:h-85 rounded-full" >
		                        {% endif %}
  							</div>
  							<div class="col-sm-6">
  								<div class="mb-3">
  									{{ form.profile_picture.label }}
                                	{{ form.profile_picture }}
								</div>
  							</div>
  						</div>
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.first_name.label }}{% if form.first_name.field.required %}*{% endif %}
    								{{ form.first_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.middle_name.label }}{% if form.middle_name.field.required %}*{% endif %}
    								{{ form.middle_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.last_name.label }}{% if form.last_name.field.required %}*{% endif %}
    								{{ form.last_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.gender.label }}{% if form.gender.field.required %}*{% endif %}
    								{{ form.gender }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.gender_indentity.label }}{% if form.gender_indentity.field.required %}*{% endif %}
    								{{ form.gender_indentity }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.BOD.label }}{% if form.BOD.field.required %}*{% endif %}
    								{{ form.BOD }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.employment_status.label }}{% if form.employment_status.field.required %}*{% endif %}
    								{{ form.employment_status }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.mental_health_history.label }}{% if form.mental_health_history.field.required %}*{% endif %}
    								{{ form.mental_health_history }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.access_to_mental_health.label }}{% if form.access_to_mental_health.field.required %}*{% endif %}
    								{{ form.access_to_mental_health }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.marital_status.label }}{% if form.marital_status.field.required %}*{% endif %}
    								{{ form.marital_status }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.contact_number.label }}{% if form.contact_number.field.required %}*{% endif %}
    								{{ form.contact_number }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.alias.label }}{% if form.alias.field.required %}*{% endif %}
    								{{ form.alias }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div  class="form-group">
    								{{ form.email.label }}{% if form.email.field.required %}*{% endif %}
    								{{ form.email }}
  								</div>
    						</div>
    					</div>
    				</div>
				</div>
				<br>
				<div class="card">
  					<div class="card-header">
    					<h4>Personal Address</h4>
  					</div>
  					<div class="card-body">
    					<h5>Current Address</h5>
    					<div class="row">
    						<div class="col-sm-8">
    							<div class="form-group">
    								{{ FormEditPatientAddress.current_street.label }}{% if FormEditPatientAddress.current_street.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.current_street }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.current_apt.label }}{% if FormEditPatientAddress.current_apt.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.current_apt }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.current_city.label }}{% if FormEditPatientAddress.current_city.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.current_city }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.current_country.label }}{% if FormEditPatientAddress.current_country.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.current_country }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.current_zip_code.label }}{% if FormEditPatientAddress.current_zip_code.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.current_zip_code }}
  								</div>
    						</div>
    					</div>
    				</div>
    				<div class="card-body">
    					<h5>Philippine Address</h5>
    					<div class="row">
    						<div class="col-sm-8">
    							<div class="form-group">
    								{{ FormEditPatientAddress.ph_street.label }}{% if FormEditPatientAddress.ph_street.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.ph_street }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.ph_barangay.label }}{% if FormEditPatientAddress.ph_barangay.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.ph_barangay }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.ph_province.label }}{% if FormEditPatientAddress.ph_province.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.ph_province }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.ph_city.label }}{% if FormEditPatientAddress.ph_city.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.ph_city }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ FormEditPatientAddress.ph_zip_code.label }}{% if FormEditPatientAddress.ph_zip_code.field.required %}*{% endif %}
    								{{ FormEditPatientAddress.ph_zip_code }}
  								</div>
    						</div>
    					</div>
    				</div>
    				
				</div>
				<div class="card">
  					<div class="card-header">
    					<h4>Other Detail</h4>
  					</div>
  					<div class="card-body">
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.birth_place.label }}{% if form.birth_place.field.required %}*{% endif %}
    								{{ form.birth_place }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.religion.label }}{% if form.religion.field.required %}*{% endif %}
    								{{ form.religion }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.high_education.label }}{% if form.high_education.field.required %}*{% endif %}
    								{{ form.high_education }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.nationality.label }}{% if form.nationality.field.required %}*{% endif %}
    								{{ form.nationality }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.workplace.label }}{% if form.workplace.field.required %}*{% endif %}
    								{{ form.workplace }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.occupation.label }}{% if form.occupation.field.required %}*{% endif %}
    								{{ form.occupation }}
  								</div>
    						</div>
    					</div>
    				</div>
				</div>
				<br/>
				<div class="row justify-content-md-center">
				    <div class="col-md-auto">
				      <button type="submit" class="btn btn-outline-success add_patient_btn">Update Patient</button>
				      <a href="{% url 'PatientDetailed' patientDetailed.pk %}" style="text-decoration:none;">
				      <button type="button" class="btn btn-outline-secondary">Cancel</button>
				      </a>
				    </div>
  				</div>
				<br/><br/>
			</form>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript">
	var provinces = [
                "ABRA", "AGUSAN DEL NORTE", "AGUSAN DEL SUR", "AKLAN", "ALBAY", "ANTIQUE",
                "APAYAO", "AURORA", "BASILAN", "BATAAN", "BATANES", "BATANGAS", "BENGUET",
                "BILIRAN", "BOHOL", "BUKIDNON", "BULACAN", "CAGAYAN", "CAMARINES NORTE",
                "CAMARINES SUR", "CAMIGUIN", "CAPIZ", "CATANDUANES", "CAVITE", "CEBU",
                "COTABATO", "DAVAO DE ORO", "DAVAO DEL NORTE", "DAVAO DEL SUR",
                "DAVAO OCCIDENTAL", "DAVAO ORIENTAL", "DINAGAT ISLANDS", "EASTERN SAMAR",
                "GUIMARAS", "IFUGAO", "ILOCOS NORTE", "ILOCOS SUR", "ILOILO",
                "ISABELA", "KALINGA", "LA UNION", "LAGUNA", "LANAO DEL NORTE",
                "LANAO DEL SUR", "LEYTE", "MAGUINDANAO DEL NORTE", "MAGUINDANAO DEL SUR",
                "MARINDUQUE", "MASBATE", "MISAMIS OCCIDENTAL", "MISAMIS ORIENTAL",
                "MOUNTAIN PROVINCE", "NEGROS OCCIDENTAL", "NEGROS ORIENTAL",
                "NORTHERN SAMAR", "NUEVA ECIJA", "NUEVA VIZCAYA", "OCCIDENTAL MINDORO",
                "ORIENTAL MINDORO", "PALAWAN", "PAMPANGA", "PANGASINAN", "QUEZON",
                "QUIRINO", "RIZAL", "ROMBLON", "SAMAR", "SARANGANI", "SIQUIJOR",
                "SORSOGON", "SOUTH COTABATO", "SOUTHERN LEYTE", "SULTAN KUDARAT",
                "SULU", "SURIGAO DEL NORTE", "SURIGAO DEL SUR", "TARLAC", "TAWI-TAWI",
                "ZAMBALES", "ZAMBOANGA DEL NORTE", "ZAMBOANGA DEL SUR", "ZAMBOANGA SIBUGAY"
            ];
		$("#id_ph_province").autocomplete({
        	source: provinces
        });
	
</script>
{% endblock script %}
