{% extends 'base.html' %}
{% load static %}
{% block title %} Create Patients {% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<style type="text/css">
	.dashboard_welcome_greeting{
		color: #6417A1;
	}
	.add_patient_btn{
		color: #6417A180;
		border-color: #6417A180;
	}
	.card-header{
		background-color:#6417A180;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h2 class="dashboard_welcome_greeting">Create Patient Relatives</h2>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			{% if error_msg %}
				<div class="alert alert-warning" role="alert">
				  {{ error_msg }}
				</div>
			{% endif %}

			<form id="patient_create_relatives" method="POST" enctype="multipart/form-data">
				{% csrf_token %}	
				<div class="card">
  					<div class="card-header">
    					<h4>Relative Personal Info</h4>
  					</div>
  					<div class="card-body">
    					<div class="row">
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.first_name.label }}{% if form.first_name.field.required %}*{% endif %}
    								{{ form.first_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.middle_name.label }}{% if form.middle_name.field.required %}*{% endif %}
    								{{ form.middle_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.last_name.label }}{% if form.last_name.field.required %}*{% endif %}
    								{{ form.last_name }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.gender.label }}{% if form.gender.field.required %}*{% endif %}
    								{{ form.gender }}
    								
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.gender_indentity.label }}{% if form.gender_indentity.field.required %}*{% endif %}
    								{{ form.gender_indentity }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.DOB.label }}{% if form.DOB.field.required %}*{% endif %}
    								{{ form.DOB }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.marital_status.label }}{% if form.marital_status.field.required %}*{% endif %}
    								{{ form.marital_status }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.relationship.label }}{% if form.relationship.field.required %}*{% endif %}
    								{{ form.relationship }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.high_education.label }}{% if form.high_education.field.required %}*{% endif %}
    								{{ form.high_education }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.Workplace.label }}{% if form.Workplace.field.required %}*{% endif %}
    								{{ form.Workplace }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.occupation.label }}{% if form.occupation.field.required %}*{% endif %}
    								{{ form.occupation }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div class="form-group">
    								{{ form.contact_number.label }}{% if form.contact_number.field.required %}*{% endif %}
    								{{ form.contact_number }}
  								</div>
    						</div>
    						
    						<div class="col-sm-4">
    							<div  class="form-group">
    								{{ form.email.label }}{% if form.email.field.required %}*{% endif %}
    								{{ form.email }}
  								</div>
    						</div>
    						<div class="col-sm-4">
    							<div  class="form-group">
    								{{ form.is_emergency.label }}{% if form.is_emergency.field.required %}*{% endif %}
    								<br/>
    								{{ form.is_emergency }}
  								</div>
    						</div>
    						
    					</div>
    				</div>
				</div>
				<br/>
				<div class="row justify-content-md-center">
				    <div class="col-md-auto">
				      <button type="submit" class="btn btn-outline-success">Create Relative</button>
				      <a href="{% url 'PatientDetailed' patient_id %}" style="text-decoration:none;">
				      <button type="button" class="btn btn-outline-secondary">Cancel</button>
				      </a>
				    </div>
  				</div>
				<br/><br/>
			</form>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$( "#id_DOB" ).datepicker();
	})
</script>
{% endblock script %}
