{% extends 'base.html' %}
{% load static %}
{% block title %} SURVEY VIEW {% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
<style type="text/css">
    .dashboard_welcome_greeting{
        color: #6417A1;
    }
    .add_patient_btn{
        color: #6417A180;
        border-color: #6417A180;
    }
    .card-header{
        background-color:#6417A180;
    }
</style>
<style type="text/css">
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }
        .letter-container {
            width: 60%;
            padding: 20px;
            margin-bottom: 20px;
            margin:auto;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
        }
        button {
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            margin:auto;
        }

        button:hover {
            background-color: #45a049;
        }
        table, th, td {
  border: 1px solid black;
}

    </style>
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">
    <div class="letter-container" id="letter">
        <center><h3>SOUTHERN PHILIPPINES MEDICAL CENTER TELEPSYCHIATRY SERVICE FOR OVERSEAS FILIPINO WORKERS</h3></center>
        <center><h5>Patient Information and Referral Form</h5></center>
        <table width="100%">
            <thead style="background-color: grey;">
                <th colspan="4">
                    <h6>Patient Information</h6>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{ referral_details.encounter.details.first_name }} {{ referral_details.encounter.details.middle_name }}</td>
                    <td>Last Name</td>
                    <td>{{ referral_details.encounter.details.last_name }}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{ referral_details.encounter.details.age }}</td>
                    <td>Sex</td>
                    <td>{{ referral_details.encounter.details.gender }}</td>
                </tr>
                <tr>
                    <td>Diagnosis</td>
                    <td colspan="3">
                        {% for diagnosis in referral_diagnosis %}
                        <ul>
                            <li>{{ diagnosis.condition_details }}</li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Recommended Medications</td>
                    <td colspan="3">
                        {% for treatment in referral_treatment %}
                        <ul>
                            <li>{{ treatment.drugs.name }} {{ treatment.strength }} {{ treatment.dose }} {{ treatment.route }} {{ treatment.frequency }} # {{ treatment.drug_no }}</li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color:gray">
                        <h6>REFERRAL FORM</h6>
                    </td>
                </tr>
                <tr>
                    <td>Medical History</td>
                    <td colspan="3">
                        {% for history_present_illness in referral_history_present_illness %}
                        <ul>
                            <li>{{ history_present_illness.details }} </li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Referred To</td>
                    <td colspan="3">{{ referral_details.referred_to}}</td>
                </tr>
                <tr>
                    <td>Referred From</td>
                    <td colspan="3">{{ referral_details.referred_from}}</td>
                </tr>
                <tr>
                    <td>Reason For Referral</td>
                    <td colspan="3">{{ referral_details.reason_for_referral}}</td>
                </tr>
                <tr>
                    <td>Referred by</td>
                    <td colspan="3">Ismael L. Cordero, Jr. MD, DPCAM</td>
                </tr>
                <tr>
                    <td>Signature</td>
                    <td colspan="3">
                        <img src="{% static 'images/doc_jun_e_signature.png' %}">
                    </td>
                </tr>

            </tbody>
        </table>
       <!--  <h1>Referral Letter</h1>
        <p><strong>Referral Date:</strong> {{ referral_details.create_date | date:"F j, Y"}} </p>
        <p><strong>Patient Name:</strong> {{ referral_details.encounter.details.first_name }} {{ referral_details.encounter.details.middle_name }} {{ referral_details.encounter.details.last_name }}</p>
        <p><strong>Age:</strong> {{ referral_details.encounter.details.age }}</p>
        <p><strong>Gender:</strong> {{ referral_details.encounter.details.gender }}</p>
        
        <p><strong>Referral To:</strong> {{ referral_details.referred_to}}</p>
        <br/>
        <p><strong>Brief Summary:</strong></p>
        <p>{{ referral_details.brief_summary}}</p>

        <br/>
        <p><strong>Impression:</strong></p>
        <p>{{ referral_details.impression}}</p>
        
        <br/>
        <p><strong>Reason for Referral:</strong></p>
        <p>{{ referral_details.reason_for_referral}}</p>
        
        <br/>
        <p>Referred From,</p>
        <p><strong>{{ referral_details.referred_from}}</strong></p> -->
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <button id="download-pdf">Download as PDF</button>
        </div>
    </div>
    
</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script>
        document.getElementById('download-pdf').addEventListener('click', function() {
    var letterContent = document.getElementById('letter');

    html2canvas(letterContent, {
        backgroundColor: '#FFFFFF' // Ensures the background is pure white
    }).then(function(canvas) {
        var imgData = canvas.toDataURL('image/png');
        var pdf = new jspdf.jsPDF();

        pdf.addImage(imgData, 'PNG', 10, 10, 190, 0); // Adjust the dimensions for proper fitting

        pdf.save('referral-letter.pdf');
    });
});



    </script>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="//cdn.datatables.net/2.1.4/js/dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.html5.min.js"></script>


{% endblock script %}
